{% extends 'index.html'  %}
{% block content %}
 <h1 id="connect-script">To listen to music, please connect your spotify account</h1>
 <div class="login-box connect">
 <a class="connect-button" href="https://accounts.spotify.com/authorize?client_id=89ffd51455fa4113b1c3ab58496c0970&response_type=code&redirect_uri=http://127.0.0.1:5000/authorize&scope=streaming%20user-library-modify%20user-read-private%20user-read-email&state=34fFs29kd09">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  connect
</a>
</div>
<!-- 
<button class="btn btn-success" id="apiTest"><a href="https://accounts.spotify.com/authorize?client_id=89ffd51455fa4113b1c3ab58496c0970&response_type=code&redirect_uri=http://127.0.0.1:5000/authorize&scope=streaming%20user-library-modify%20user-read-private%20user-read-email&state=34fFs29kd09">Connect!</a></button> -->



  {% endblock %}