{% extends 'index.html'  %}
{% block content %}
<h1 id="current-track"></h1>
<p id="current-artist"></p>

<p>Volume: <span  id="volume-display"></span></p>

<p hidden id="auth-code">{{auth_code}}</p>
<p hidded id="latitude">{{lat}}</p>
<p hidded id="longitude">{{lng}}</p>
<p hidded id="serachRadius">{{serachRadius}}</p>



<img id="album-cover" src="" alt="">
<button class="btn btn-success" id="playButton">Pause/Play</button>
<button class="btn btn-success" id="previous-track"><</button>
<button class="btn btn-success" id="next-track">></button>

<button class="btn btn-success" id="likeSong">like</button>
<button class="btn btn-success" id="dislikeSong">dislike</button>

<input type="range" min="1" max="100" value="50" class="custom-range" id="volume-slider">


<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="/static/spotifySKD.js"></script>




{% endblock %}