{% extends 'index.html'  %}

{% block content %}


<div class="login-box">
  <h2>Sign Up</h2>
  <form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <div class="user-box">
      {{ field(class_="form-control") }}
      {{ field.label }}
  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">
      <a>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Register
      </a>
    </button>
  
  </form>
  <a class="login" href="/login">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Log In
  </a>
</div>
{% endblock %} 